body{
    background-image: url(../img/pattern.jpg);
    margin: 0px;
}
header{
    background-color: rgb(170, 154, 154);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    margin-right: 30px;
}

a{
    text-decoration: none;
}

section{
    background-color: whitesmoke;
    margin: 70px 100px 75px;
    padding: 20px ;
}
h1{
    text-align: center;
}
article{
    border-bottom: 2px solid black;
    margin-top: 10px;
}
footer{
    background-color: black;
    padding: 5px;
}
h5{
    text-align: center;
    color: white;
}
